* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 4px;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

img,
iframe {
    max-width: 100%;
}

@media screen and (max-width: 1323px) {
    html {
        font-size: 4px;
    }

    // :root {
    //     font-size: 4px;
    // }
}

@media screen and (max-width: 1176px) {
    html {
        font-size: 4px;
    }

    // :root {
    //     font-size: 4px;
    // }
}

@media screen and (max-width: 883px) {
    html {
        font-size: 4px;
    }

    // :root {
    //     font-size: 4px;
    // }
}

@function v($px, $basePix: 4, $minusPx: 0) {
    @if $minusPx==0 {
        @return ($px / $basePix)+rem;
    }

    @return 'calc('+($px / $basePix)+'rem - '+$minusPx+'px)';
}

:root {
    --mainColor: #231F20;
    --mainFontColor: #fff;
    --border: 2px solid red;
    --greenBnt: #16A600;
    --greenBntHover: #1EC700;
    --linkColor: #735800;
    --borderColor: #FFD400;
    --greyBg: rgba(196, 196, 196, 0.25);
    --popupGradient: linear-gradient(180deg, rgba(13, 14, 13, 1)0%, rgba(15, 19, 16, 1) 100%);
    --monstGradient: rgba(21, 21, 21, 0.8);
    --bgGradient: linear-gradient(14.76deg, rgba(21, 21, 21, 0.8) 18.61%, rgba(21, 21, 21, 0.3) 37.63%, rgba(21, 21, 21, 0) 90.23%);
    font-family: 'Oswald', sans-serif;
}

a {
    color: var(--mainFontColor);
    opacity: 0.75;
    text-decoration: none;
}

button {
    width: v(192);
    height: v(40);
    background-color: var(--greenBnt);
    border: none;
}

.button {
    width: v(192);
    height: v(40);
    background-color: var(--greenBnt);
    color: var(--mainFontColor);
    border: none;
    font-size: v(20);
    line-height: v(24);
    transform: skewX(-30deg);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    cursor: pointer;

    &>span,
    &>i {
        transform: skewX(30deg);
        text-align: center;
    }

    i {
        padding-left: v(10);
        width: v(24);
        height: v(24);
        font-size: v(16);
        line-height: v(24);
        opacity: 0.5;
    }

    &:hover {
        background-color: var(--greenBntHover);
        padding: 0 v(23);
        animation: hoverMany 300ms;
    }
}

@keyframes hoverMany {
    0% {
        padding: 0;
    }

    100% {
        padding: 0 v(23);
    }
}

.buttonList {
    width: v(251);
    height: v(40);
    transform: skewX(-30deg);
    border: 2px solid var(--greenBnt);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: v(16);
    line-height: v(24);
    letter-spacing: 0.08em;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background: var(--greenBnt);
        color: var(--mainFontColor);
    }

    &>span {
        transform: skewX(30deg);
    }
}


// Main

header {
    background-color: var(--mainColor);
    display: flex;

}

nav {
    background-color: var(--mainColor);
    display: grid;
    grid-template-columns: v(336) 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo social""logo navMenu";
    overflow: hidden;
    min-width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media (max-width: 800px){
        grid-template-columns: v(116) 1fr;
    }
}

.logo {
    grid-area: logo;
    margin: v(26) 0 v(25) v(48);

    a {
        opacity: 1;
    }
    @media (max-width: 800px){
        margin: v(16) v(26);
    }
    
}

.headerSocial {
    grid-area: social;
    font-size: v(16);
    line-height: v(24);

    ul {
        list-style: none;
    }

    display: flex;
    justify-content: space-between;
    @media (max-width: 800px){
        margin: v(24) 0;
    }
}

.burgerMenuInMobVesion{
    display: none;
    @media (max-width: 800px){
        display: block;
        color: #fff;
        cursor: pointer;
    }
}

.socialBlock {
    display: flex;
    align-items: center;
    @media (max-width: 800px){
        display: none;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            padding-right: v(24);

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.phoneBlock {
    color: var(--mainFontColor);
    display: flex;
    align-items: center;

    i {
        margin-right: v(8);
    }
}

.headerNav {
    font-weight: 500;
    font-size: v(16);
    line-height: v(24);
    text-align: center;
    padding-right: v(72);
    text-transform: uppercase;
    grid-area: navMenu;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skewX(-30deg);
    width: 100%;

    &>* {
        transform: skewX(30deg);
    }

    ul {
        list-style: none;
        display: flex;

        a {
            color: #000;
        }

        li {
            margin-right: v(48);

            &:last-child {
                margin-right: 0;
            }
        }
    }
    @media (max-width: 800px){
        display: none;
    }

}

.headerSocialBlock {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

// firstBlock

.mainBlock,
.mainBlockProduct {
    background-color: var(--mainColor);
    color: var(--mainFontColor);
    text-transform: uppercase;
    display: flex;
}
.mainBlock{
    @media (max-width: 800px){
        height: 100vh;
    }
}

.mainBlockProduct {
    .imgBlock {
        transform: skewX(23deg) translateX(15.5%);

        img {
            transform: skewX(-23deg) translateX(-14%);
        }
        @media (max-width: 800px){
            transform: skewX(0) translateX(0);
            img{
                transform: skewX(0) translateX(0);
            }

        }
    }

}

.textMainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: v(96) auto;
    padding: v(24) 0;
    text-align: left;
    transform: translateX(v(72));
    @media (max-width: 800px) {
        position: absolute;
        z-index: 6;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        margin: 0;
    }
    .button {
        margin-right: auto;
        margin-left: v(10);
    }
}

.mainTitle {
    font-weight: bold;
    font-size: v(52);
    line-height: v(68);
    width: v(288);
    padding: v(24) 0;
    text-align: left;
    align-self: baseline;
}

.subTitle {
    font-weight: normal;
    font-size: v(24);
    line-height: v(48);
    margin-right: auto;
    padding: 0 0 v(24);
}

.imgBlock {
    transform: skewX(23deg) translateX(14.5%);
    width: 100%;
    background-size: cover;
    margin-left: auto;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 6;
    position: relative;
    @media (max-width: 800px){
        transform: skewX(0) translateX(0);
        z-index: 5;
    }
    img {
        transform: skewX(-23deg) translateX(-12%);
        min-width: 100%;
        min-height: 100%;
        z-index: 5;
        @media (max-width: 800px){
            transform: skewX(0) translateX(0);
        }
    }
}

.angle {
    border-bottom: v(550) solid var(--mainColor);
    border-right: v(150) solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 150;
}

.blockVariantImg {
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 800px){
        flex-direction: column;
    }
}

.blockVariantImg {
    display: flex;
    align-items: center;

    p {
        font-weight: bold;
        font-size: v(24);
        line-height: v(36);
        text-transform: uppercase;
        color: #fff;
        transform: translateY(v(-54)) translateX(v(24));
    }

    img {
        min-width: 100%;
        min-height: 100%;
    }

    a {
        opacity: 1;
    }
}

.blockImg {
    width: v(408);
    height: v(216);
    margin: v(48) auto;
    display: flex;
    flex-direction: column;
    background: var(--bgGradient);

}

// Select Monster

.selectMonst {
    background: var(--mainColor);
    display: flex;
    flex-direction: column;
}

.monstTitle {
    margin: v(24) 0;
    font-weight: bold;
    font-size: v(32);
    line-height: v(48);
    text-align: center;
    text-transform: uppercase;
    color: var(--mainFontColor);
}

.monstSubTitle {
    font-weight: normal;
    font-size: v(16);
    line-height: v(24);
    color: var(--mainFontColor);
    text-align: center;
    width: v(792);
    padding: 0 v(24) v(24);
    margin: 0 auto;
    @media (max-width: 800px){
        max-width: v(728);
    }
}

.mostrImgBlock {
    margin: 0 auto;
    padding-bottom: v(48);
    display: flex;
    @media (max-width: 800px){
        flex-direction: column;
    }
}

.mostrBlockHover {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: var(--monstGradient);
    z-index: 2;
    display: none;
}

.mostrBlockHoverTitle {
    margin: 0 auto;
    color: #fff;
    font-weight: bold;
    font-size: v(28);
    line-height: v(40);
    text-align: center;
    padding-bottom: v(24);
}

.hoverContent {
    width: v(216);
    display: flex;
    flex-direction: column;
    margin: v(168) auto 0;

    a {
        opacity: 1;
    }

    .button {
        margin: 0 auto;
    }


}

.mostrImg {
    position: relative;
    z-index: 1;

    &:nth-child(1) {
        transform: translateX(12%);
        animation: animationLeft 500ms;

        .hoverContent {
            margin: v(168) auto 0 v(108);
        }
        @media (max-width: 800px){
            transform: translateX(0);
            img{
                content: url('../img/maxresdefault.jpg');
            }
        }

    }

    &:nth-child(2) {
        transform: translateX(-12%);
        overflow: hidden;
        animation: animationRight 500ms;

        .mostrBlockHover {
            transform: skewX(-21deg);
            left: v(78);
        }

        .hoverContent {
            transform: skewX(21deg);

        }
        @media (max-width: 800px){
            transform: translateX(0);
        }
    }

    &:hover {
        .mostrBlockHover {
            display: block;
        }
    }
}

@keyframes animateLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(12%);
    }
}

@keyframes animateRight {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-12%);
    }
}

// Social block

.social {
    display: flex;
    flex-direction: column;
}

.socialTitle {
    font-weight: bold;
    font-size: v(32);
    line-height: v(48);
    text-transform: uppercase;
    text-align: center;
    margin: v(24) auto;
}

.socialMainBlock {
    margin: v(24) auto 0;
    display: grid;
    background: var(--mainColor);
    grid-template-columns: v(504) repeat(2, v(312));
    grid-template-rows: v(300);
    grid-template-areas: "yt inst face";
    @media (max-width: 800px){
        grid-template-columns: min(100%);
        grid-template-areas: "yt" "inst" "face";
    }

    &:nth-child(odd) {
        grid-template-columns: repeat(2, v(312)) v(504);
        grid-template-areas: "face inst yt";
        margin: 0 auto v(24);
        @media(max-width:800px){
            grid-template-columns: 1fr;
            grid-template-areas: "yt" "inst" "face";
        }
    }
}
.youTube,
.instagramm,
.theFacebook{
    @media (max-width: 800px){
        margin: auto;
        min-width: v(560);
    }
}

.youTube {
    grid-area: yt;
    iframe{
        min-width: v(560);
        min-height: v(300);
    }
    
}

.instagramm {
    grid-area: inst;
    img{
        min-width: 100%;
        min-height: 100%;
    }
}

.theFacebook {
    grid-area: face;
    // this options if only no widget fb
    text-align: center;
    padding: v(24) v(24);
    margin: auto;
    font-weight: normal;
    font-size: v(16);
    line-height: v(24);
    color: var(--mainFontColor);
    // ---------------------
}

// Footer

footer {
    display: flex;
    flex-direction: column;
    background: var(--mainColor);
}

.logoFooterBlock {
    margin: v(26) auto v(25);
}

.lineFooterBlock {
    background: #FFF;
    opacity: 0.25;
    height: 2px;
    margin: 0 v(48);
}

.textFooterBlock {
    display: flex;
    justify-content: space-between;
    color: var(--mainFontColor);
    font-weight: normal;
    font-size: v(16);
    line-height: v(24);
    margin: v(22) v(48) v(24);
    @media (max-width: 800px){
        flex-direction: column;
        align-items: center;
        p:nth-child(2){
            margin: v(24) 0;
        }
    }
}

// Product

.productSubTitle {
    column-count: 1;
    column-width: v(366);
    font-weight: normal;
    font-size: v(16);
    line-height: v(31);
    width: v(366);
    color: var(--mainFontColor);
    text-transform: uppercase;
    text-align: justify;
    margin: 0 auto v(24);
}

.tableProduct {
    display: flex;
    flex-direction: column;
}

.productTitle {
    font-weight: bold;
    font-size: v(32);
    line-height: v(48);
    text-transform: uppercase;
    margin: v(56) auto v(24);
}

.listProductSelect {
    margin: 0 auto v(32);

    ul {
        display: flex;

    }
}

.technologyStats {
    display: flex;
}

.technologyBlock {
    display: flex;
    margin: 0 auto;
}

.tableTechnology {
    padding-left: v(24);
}

.tableText {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: v(16);
    line-height: v(24);
    width: v(668);
    text-transform: uppercase;
    align-items: center;

    &:nth-child(odd) {
        background-color: var(--greyBg);
    }
}

.technologyStats {
    display: flex;
    margin-bottom: v(48);
}

.tableTextDescr {
    padding-left: v(24);
    height: v(48);
    display: flex;
    align-items: center;
}

.tableTextHar {
    padding-right: v(24);
    height: v(48);
    display: flex;
    align-items: center
}

.advantages {
    display: flex;
    flex-direction: column;
}

.advantagesTitle {
    font-weight: bold;
    font-size: v(32);
    line-height: v(48);
    margin: 0 auto v(24);
    text-transform: uppercase;
}

.advatagesList {
    font-weight: normal;
    font-size: v(16);
    line-height: v(24);
    margin: 0 auto;
    max-width: v(1104);
    list-style-image: url('../img/list.svg');
}

.advantagesBlock {
    margin: v(48) auto;
    display: flex;
    overflow: hidden;
}

.appointments,
.spheres,
.base {
    position: relative;

    img {
        z-index: 1;
    }
}

.appointments,
.spheres {
    margin-right: v(24);
}

.appText {
    position: absolute;
    color: var(--mainFontColor);
    display: flex;
    flex-direction: column;
    width: v(288);
    top: v(48);
    left: v(24);
    right: v(24);
    z-index: 2;

    h2 {
        font-weight: bold;
        font-size: v(24);
        line-height: v(40);
        margin: 0 auto v(24);
        text-transform: uppercase;
    }

    ul {
        font-weight: normal;
        font-size: v(16);
        line-height: v(24);
        margin: 0 auto;
        transform: translateX(v(32));
        list-style-image: url('../img/listW.svg');

        li {
            padding-bottom: v(8);

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    span {
        padding-top: v(24);
        font-size: v(16);
        line-height: v(24);
        transform: translateX(v(32));
    }
}

.tableSlider {
    display: flex;
    flex-direction: column;

    .imgInSlider {
        width: v(360);
        height: v(240);
        padding-right: v(24);

        &:last-child {
            padding-right: 0;
        }
    }

    .button {
        margin: v(48) auto v(55);
    }


}

.arrw {
    color: #000;
    font-size: v(40);
    line-height: v(24);
}

.tableSliderImg {
    margin: 0 auto;
    display: flex !important;
    flex-direction: row;
    max-width: v(1100);
    align-items: center;

    a {
        opacity: 1;
        margin-right: v(24);
    }

    i {
        cursor: pointer;

        &:first-child {
            margin-right: v(24);
        }

        &:last-child {
            margin-left: v(24);
        }
    }
}

// Contarct

.contact {
    display: flex;
    flex-direction: column;
}

.contactTitle {
    font-size: v(40);
    line-height: v(64);
    text-transform: uppercase;
    margin: v(24) v(48);
}

.contactBlockText {
    font-size: v(16);
    line-height: v(24);
    text-align: center;
    text-transform: uppercase;
    width: v(360);
    margin: auto;
}

.contactHeader {
    font-weight: 500;
    margin-bottom: v(24);
}

.contactBody {
    margin: 0 auto;
    font-size: v(16);
    line-height: v(24);
    text-align: center;

    a {
        color: var(--linkColor);
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }

    margin-bottom: v(24);
}

.contactFooter {
    margin-bottom: v(24);

    a {
        color: var(--linkColor);
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }
}

.contactMap {
    iframe {
        min-width: 100%;
    }
}

// Servis

.servis {
    margin: v(48) auto;
    display: flex;
}

.servisBlock {
    display: flex;
    margin: 0 auto;
}

.servisBlockText {
    width: v(552);
}

.servisTitle {
    font-size: v(48);
    line-height: v(64);
    font-weight: bold;
}

.servisTextDescr {
    font-weight: normal;
    font-size: v(16);
    line-height: v(24);
    margin: v(24) 0;
    border-radius: 4px;
}

// Modal img

.modalImg,
.modalPopup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 6;
}

.modalBody {
    position: fixed;
    top: 3%;
    bottom: 3%;
    left: 10%;
    right: 10%;
    width: 80vw;
    height: 80vh;
    z-index: 100;
    transform: translateY(-5%);
    z-index: 3;

    img {
        min-width: 100%;
        min-height: 100%;
        z-index: 3;
    }
}

.close {
    display: flex;
    justify-content: flex-end;
    font-size: v(12);
    line-height: v(24);
    color: var(--borderColor);
    align-items: center;
    margin: v(8) v(8) 0 0;
    cursor: pointer;

    i {
        padding-left: v(8);
        font-size: v(16);
        line-height: v(24);
        text-transform: uppercase;
    }
}

.modalBodyPopupS {
    display: flex;
    flex-direction: column;
    width: v(360);
    height: v(672);
    background: var(--popupGradient);
    border: 1px solid var(--borderColor);
    box-sizing: border-box;
    z-index: 6;
    position: fixed;
    right: 0;
}

.modalPopupTitle,
.modalPopupTitleOther {
    color: #fff;
    font-weight: normal;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
}

.modalSubTitle {
    font-weight: normal;
    font-size: v(16);
    line-height: v(28);
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.modalPopupTitle {
    margin: v(48) 0 v(24);
    font-size: v(24);
    line-height: v(43);
}

.modalPopupTitleOther {
    margin-top: v(16);
    font-size: v(32);
    line-height: v(57);
}

.modalPopupForm {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 0 v(24);

    label {
        text-align: left;
        font-weight: 500;
        font-size: v(12);
        line-height: v(17);
        letter-spacing: 0.08em;
        text-transform: uppercase;

        &:last-child {
            text-transform: none;
        }
    }

    i {
        opacity: 1;
        margin-right: v(16);
    }

    input {
        margin-bottom: v(24);
        color: #000;
        height: v(40);
        padding: v(8);
        border: 1px solid var(--borderColor);
        box-sizing: border-box;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.9);
    }

    textarea {
        height: v(96);
        resize: none;
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px solid var(--borderColor);
        box-sizing: border-box;
        border-radius: 4px;
        color: #000;
        padding: v(8);
    }

    .button {
        margin: 0 auto;
    }
}

.modalRules {
    font-weight: normal;
    font-size: v(12);
    line-height: v(17);
    margin: v(16) 0 v(28);
    display: flex;

    input {
        align-self: flex-start;
        margin-right: v(8);
        margin-bottom: 0;
        margin-top: v(12);
    }

    a {
        color: var(--borderColor);
        opacity: 1;
    }
}

